
<style>
  .btn-link {
    text-decoration: none;
  }



  .form-control {
    width: 100%; /* Increase the width of the input and select boxes */
  }
</style>

<header style="background-color: rgb(90, 76, 237); padding: 10px;">
  <h1 style="color: white; font-family: Arial, sans-serif; font-size: 24px; font-weight: bold; text-align: left;">TenantFinder</h1>
</header>
<div class="container">
  <!-- Header -->


  <!-- Login Form -->
  <div class="card mt-5" *ngIf="isLoginMode">
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group">
          <label for="loginEmail">Email</label>
          <input type="email" id="loginEmail" formControlName="email" class="form-control" placeholder="Email">
          <div class="error-message" *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
            <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</div>
            <div *ngIf="loginForm.get('email')?.errors?.['email']">Email is not valid.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="loginPassword">Password</label>
          <input type="password" id="loginPassword" formControlName="password" class="form-control" placeholder="Password">
          <div class="error-message" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
            <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
            <div *ngIf="loginForm.get('password')?.errors?.['minlength']">Password should be at least 6 characters long.</div>
          </div>
        </div>
        <div class="button-group">
          <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
          <button (click)="switchMode()" class="btn btn-link">Register</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Register Form -->
  <div class="card mt-5" *ngIf="!isLoginMode">


    <div class="card-body">

      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">


      <div class="form-group">
        <label for="registerName">Name</label>
        <input type="text" id="registerName" formControlName="name" class="form-control" placeholder="Name">
      </div>
        <div class="form-group">
          <label for="registerEmail">Email</label>
          <input type="email" id="registerEmail" formControlName="email" class="form-control" placeholder="Email">
          <div class="error-message" *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
            <div *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</div>
            <div *ngIf="registerForm.get('email')?.errors?.['email']">Email is not valid.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="registerUserName">UserName</label>
          <input type="text" id="registerUserName" formControlName="userName" class="form-control" placeholder="UserName">
          <div class="error-message" *ngIf="registerForm.get('userName')?.invalid && (registerForm.get('userName')?.dirty || registerForm.get('userName')?.touched)">
            <div *ngIf="registerForm.get('userName')?.errors?.['required']">UserName is required.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="registerPassword">Password</label>
          <input type="password" id="registerPassword" formControlName="password" class="form-control" placeholder="Password">
          <div class="error-message" *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
            <div *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</div>
            <div *ngIf="registerForm.get('password')?.errors?.['minlength']">Password should be at least 6 characters long.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="registerRole">Role</label>
          <select id="registerRole" formControlName="role" class="form-control">
            <option>Tenant</option>
            <option>Landlord</option>
          </select>
          <div class="error-message" *ngIf="registerForm.get('role')?.invalid && (registerForm.get('role')?.dirty || registerForm.get('role')?.touched)">
            <div *ngIf="registerForm.get('role')?.errors?.['required']">Role is required.</div>
          </div>
        </div>
        <div class="button-group">
          <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>
          <button (click)="switchMode()" class="btn btn-link">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
