.container {
  min-width: 100vh;
  padding-bottom: 70px;
  margin-top: 20px;
}
.rounded {
  border-radius: 8px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



.property-type {
  color: #123456; /* change to your preferred color */
  font-size: 2em; /* change to your preferred font size */
  /* add other styles as needed */

    font-weight: bold; /* makes the text bold */
    color: #673AB7; /* sets the color to primary */
}

.property-location {
  color: #654321; /* change to your preferred color */
  font-size: 1.5em; /* change to your preferred font size */
  /* add other styles as needed */
}

.shadow {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}


.carousel-image {
  height: 500px; /* adjust this value as needed */
  object-fit: cover; /* this will prevent the images from being stretched */
}

 .form-fields {
  display: flex;
  justify-content: space-between;
}




